@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eaeff0;
    --foreground: #303030;
    --background-white: #fff;
    --main-color: #2B4687;
  }
}

body {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background: var(--background);
  color: var(--foreground);
  font-family: Inter;
  font-weight: 700;
}

html{
  scroll-behavior: smooth;
}
