@import "tailwindcss";

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

:root {
  --background: #eaeff0;
  --foreground: #303030;
  --background-white: #fff;
  --main-color: #2B4687;
}
body {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background: var(--background);
  color: var(--foreground);
  font-family: Inter;
  font-weight: 700;
  gap: 20px;
}

html{
  scroll-behavior: smooth;
}
h1{
  font-size: 36px;
}

h2{
  font-size: 24px;
}

a{
  text-decoration: underline;
}

#cart{
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}