.header_wrapper{
    position: fixed;
    width: calc(100% - 40px);
    max-width: 1880px;
    background-color: var(--background-white);
    margin-top: 20px;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: 0.5s;

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.09), 0 10px 6px 0 rgba(0, 0, 0, 0.05), 0 18px 7px 0 rgba(0, 0, 0, 0.01), 0 29px 8px 0 rgba(0, 0, 0, 0);
    
    animation: hide linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

    animation: anime 0.5s ease forwards;
    z-index: 999;
}

@keyframes anime {
    from{
        opacity: 0;
        transform: translate(0, 40px);
    }

    to{
        opacity: 1;
        transform: translate(0, 0);
    }
}


.header_container{
    width: 100%;
    max-width: 1880px;
    display: flex;
    padding-inline: 100px;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 60px;
}

.header_img{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header_img_logo{
    filter: drop-shadow(0 4px 2px rgba(0,0,0,0.25));
}

.header_navigation{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.header_callback{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    gap: 10px;
}

.header_button{
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    user-select: none;

    transition: 0.5s;

    padding: 10px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.09), 0 10px 6px 0 rgba(0, 0, 0, 0.05), 0 18px 7px 0 rgba(0, 0, 0, 0.01), 0 29px 8px 0 rgba(0, 0, 0, 0);
}

.header_button_active{
    position: relative;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
    gap: 10px;

    color: var(--background-white);

    transition: 0.5s;

    padding: 10px;
    background-color: var(--main-color);
    width: 200px;
    height: 40px;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.09), 0 10px 6px 0 rgba(0, 0, 0, 0.05), 0 18px 7px 0 rgba(0, 0, 0, 0.01), 0 29px 8px 0 rgba(0, 0, 0, 0);
}

.header_button img{
    width: 18px;
    height: 18px;
}

.header_button_active img{
    width: 18px;
    height: 18px;
}

.header_button:active{
    box-shadow: none;
}

.header_link{
    text-decoration: none;
}

.header_link_active span{
    transition: 0.5s;
    width: 57px!important;
}

.header_navigation a{
    transition: 0.5s;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.header_navigation a span{
    width: 0;
    height: 3px;

    transition: 0.5s;
    border-radius: 1000px;
    box-shadow: 0 0 0 0 rgba(24, 71, 137, 0.2), 0 3px 6px 0 rgba(24, 71, 137, 0.2), 0 11px 11px 0 rgba(24, 71, 137, 0.17), 0 24px 15px 0 rgba(24, 71, 137, 0.1), 0 43px 17px 0 rgba(24, 71, 137, 0.03), 0 68px 19px 0 rgba(24, 71, 137, 0);
    background: var(--main-color);
}

.header_navigation a:hover span{
    transition: 0.5s;
    width: 57px;
}   

.call_active{
    display: block;
    position: relative;
    top: -19px;
    left: 30px;
    width: 150px;
    text-align: center;
    overflow: hidden;
    color: var(--background-white);
}

.call_active_open{
    display: block;
    position: relative;
    top: -20px;
    left: 15px;
    width: 150px;
    text-align: center;
    overflow: hidden;
    color: var(--background-white);
}

.search_input{
    display: block;
    position: relative;
    top: -20px;
    left: 30px;
    width: 150px;
    outline: none;
    color: var(--background-white);
    font-weight: 400;
}

.serach_prod_wrapper{
    position: absolute;
    top: 45px;
    z-index: 1;
    left: 0;
    padding: 10px;

    border-radius: 10px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.09), 0 10px 6px 0 rgba(0, 0, 0, 0.05), 0 18px 7px 0 rgba(0, 0, 0, 0.01), 0 29px 8px 0 rgba(0, 0, 0, 0);
    transition: 0.5s;

    background-color: var(--background-white);
    color: var(--foreground);
    width: max-content;
}

.serach_prod_container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    transition: 0.5s;
    gap: 5px;
}

.burger_trigger{
    display: none;
}

.burger_wrapper{
    display: none;
}

.Count{
    position: absolute;
    top: -5px;
    right: -5px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background);
    width: 0px;
    height: 0px;
    font-size: 0px;
    border-radius: 100px;
    border: none;
    transition: 0.5s;
   
}

.ActiveCount{
    width: 20px;
    height: 20px;
    transition: 0.5s;
    font-size: 16px;
    border: 1px solid var(--foreground);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.09), 0 10px 6px 0 rgba(0, 0, 0, 0.05), 0 18px 7px 0 rgba(0, 0, 0, 0.01), 0 29px 8px 0 rgba(0, 0, 0, 0);
}




@media (max-width: 1200px){
   .header_container{
        padding-inline: 40px;
        gap: 10px;
    }
}

@media (max-width: 980px){

    .burger_button{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 20px;
        height: 40px;
        gap: 5px;

        cursor: pointer;
        z-index: 2;

        transition: 0.5s;
        
    }

    .burger_button::before{
        position: absolute;
        content: " ";
        top: 10px;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 1000px;
        background: black;
        transition: 0.5s;
    }

    .burger_button span{
        content: " ";
        width: 100%;
        height: 3px;
        border-radius: 1000px;
        background: black;
        transition: 0.1s;
    }

    .burger_button::after{
        position: absolute;
        content: " ";
        bottom: 10px;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 1000px;
        background: black;
        transition: 0.5s;
    }

    .burger_button.Active::before{
        transform: rotate(45deg);
        transition: 0.5s;
        top: 50%;

    }

    .burger_button.Active::after{
        transform: rotate(-45deg);
        top: 50%;
        transition: 0.5s;
    }

    .burger_button.Active span{
        opacity: 0;
        transition: 0.1s;
    }

   
    .burger_trigger{
        display: block;
        z-index: 2;
    }

    .burger_wrapper{
        position: absolute;
        display:flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 100%; 
        gap: 15px;

        top: -1000px;
        left: 0;
        transition: 0.5s;
        height: 550px;
        background-color: var(--background-white);
        z-index: 1;

        border-radius: 0 0px 20px 20px;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.09), 0 10px 6px 0 rgba(0, 0, 0, 0.05), 0 18px 7px 0 rgba(0, 0, 0, 0.01), 0 29px 8px 0 rgba(0, 0, 0, 0);
    }

    .burger_wrapper.Open{
        transition: 0.5s;
        top: 30px;
        padding-top: 50px;    
    }

    .header_navigation{
        display: none;
    }

    .header_callback{
        display: none;
    }

    .mobile{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .mobile_buttons{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: auto;
        padding: 20px;
    }

    .header_navigation a{
        font-size: 26px;
    }

    .header_link_active span{
        width: 100px!important;
    }
}



/* Реализация стилей корзины */
.header_button_cart{
    position: relative;
    justify-content: center;
    align-items: center;
    user-select: none;

    transition: 0.5s;

    padding: 10px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.09), 0 10px 6px 0 rgba(0, 0, 0, 0.05), 0 18px 7px 0 rgba(0, 0, 0, 0.01), 0 29px 8px 0 rgba(0, 0, 0, 0);
}

.cart_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    backdrop-filter: blur(6px);
    background: rgba(74, 108, 247, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_wrapper_active{
    animation: anime_wrap_opn 0.5s ease forwards;
}

@keyframes anime_wrap_opn {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}


.cart_container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    width: 80%;
    max-width: 1700px;
    height: fit-content;
    background-color: var(--background-white);
    border-radius: 20px;

    overflow: hidden;
    gap: 5px;
}

.cart_header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 10px;

    width: 100%;
}

.cart_header_table{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    gap: 10px;
}

.cart_header_table_element{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_header_table_element:nth-child(2){
    flex: 2;
}

.product_preview{
    width: 100%;
    max-height: 70vh;
    display: flex;
    gap: 10px;
    flex-direction: column;
    overflow-y: auto;
}

.cart_element_wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 155px;
    padding-bottom: 10px;

    border-bottom: 1px solid var(--foreground);

    gap: 10px;
}

.cart_element{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.cart_element img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart_element_del{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.cart_element_del img:hover{
    transition: 0.5s;
    transform: rotate(360deg);
}

.cart_element:nth-child(2){
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.cart_header_close{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    width: 100%;
}

.Close{
    cursor: pointer;
    transition: 0.5s;
}

.Close img:hover{
    transition: 0.5s;
    transform: rotate(360deg);
}

.slider_container{
    width: 100%;
    overflow: hidden;
}

.cart_slider{
    display: flex;
    width: 200%;
    transition: 0.5s;
}

.cart_part_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: 0.5s;

    gap: 10px;
}

.total_cart{
    width: 200px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    background: var(--main-color);
    color: var(--background-white);

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.09), 0 10px 6px 0 rgba(0, 0, 0, 0.05), 0 18px 7px 0 rgba(0, 0, 0, 0.01), 0 29px 8px 0 rgba(0, 0, 0, 0);
    transition: 0.5s;
}

.Active{
    box-shadow: none;
    transition: 0.5s;
    z-index: 0;
}

.contacts_content_wrapper{
    background-color: var(--background);
    padding: 10px;
    border-radius: 0 10px 10px 10px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 0px;

    height: 450px;
    width: 630px;

    font-size: 17px;

    transition: 0.5s;
    overflow-y: auto;
    z-index: 2;

    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.contacts_content_wrapper p{
    display: flex;
    flex-direction: column;
    font-weight: 200;
}

.contacts_content_wrapper p span{
    font-weight: 700;
}

.card p{
    flex-direction: row;
    gap: 10px;
    transition: 0.5s;
}

.contacts_content_wrapper_input{
    border-radius: 10px;
    background-color: var(--background);

    width: 100%;

    padding: 5px 10px;

    margin-top: 10px;

    color: var(--foreground);
}

.contacts_content_wrapper_input:focus{
    outline: none;
}

.contacts_content_input_wrapper{
    position:relative;
    width: 100%;
}

.contacts_content_input_wrapper label{
    position: absolute;
    top: 0px;
    left: 15px;
    font-size: 14px;
    opacity: 0;
    transition: 0.3s;

    color: var(--foreground);
}

.contacts_content_input_wrapper .contacts_content_wrapper_input:focus-within + label{
    opacity: 1;
    transition: 0.3s;
}

.contacts_content_input_wrapper .contacts_content_wrapper_textarea:focus-within + label{
    opacity: 1;
    transition: 0.3s;
}

.contacts_content_input_wrapper .contacts_content_wrapper_input:active + label{
    opacity: 1;
    transition: 0.3s;
}

.contacts_content_input_wrapper .contacts_content_wrapper_textarea:active + label{
    opacity: 1;
    transition: 0.3s;
}



.contacts_content_wrapper_textarea{
    background-color: var(--background);
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 20px;

    resize: none;

    color: var(--foreground);
}

.contacts_content_wrapper_textarea{
    outline: none;
}

.Active label{
    opacity: 1;
}

.cart_button{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    max-width: 200px;

    padding: 10px;
    background-color: var(--main-color);
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--background-white);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.09), 0 10px 6px 0 rgba(0, 0, 0, 0.05), 0 18px 7px 0 rgba(0, 0, 0, 0.01), 0 29px 8px 0 rgba(0, 0, 0, 0);
}

.cart_button:hover{
    opacity: 0.7;
}

.cart_button:active{
    box-shadow: none;
}

.visible{
    opacity: 0;
    transition: 0.5s;
}

.input_error{
    border: 2px solid var(--error-color);
}

.disable{
    transition: 0.3s;
    opacity: 0.5;
}

.error_wrapper{
    position: fixed;
    right: 10px;
    transition: 0.5s;

    animation: hide linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

    animation: anime 0.5s ease forwards;
}

@keyframes anime {
    from{
        opacity: 0;
        transform: translate(0, 40px);
    }

    to{
        opacity: 1;
        transform: translate(0, 0);
    }
}

.error_container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
    transition: 0.5s;
}

.error_message{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--error-color);
    color: var(--background-white);

    border-radius: 1000px;
    padding: 10px;
    transition: 0.5s;
}


/* Cart success send products */

.contacts_content_wrapper_success{
    background-color: var(--background-white);
    padding: 10px;
    border-radius: 0 10px 10px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    height: 550px;
    width: 100%;

    font-size: 17px;

    transition: 0.5s;
    overflow-y: auto;
    z-index: 2;
}

.contacts_content_container_success{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
    animation: hide linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

    animation: anime 0.5s ease forwards;
}

.contacts_content_success{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    background: var(--main-color);
    height: 200px;
    width: 200px;
    border-radius: 10000px;
}

.contacts_content_success img{
    width: 100%;
    height: 100%;
}