.range_picker_wrapper{
    width: 100%;

    flex-shrink: 1;
    flex-basis: 70%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.range{
    width: 100%;
    accent-color: var(--main-color);
    cursor: grab;
}

