.catalog_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    gap: 20px;
}

.product_page_header{
    font-size: 48px;
    width: 100%;
}

.catalog_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 100px;

    width: 100%;

    padding: 0px 20px;
}

.product_page_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    margin-top: 100px;

    padding: 0 100px;
    width: 100%;
    max-width: 1920px;
    gap: 50px;
}

.product_page_charachteristic_wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    gap: 50px;

    width: 100%;

}

.product_page_charachteristic_img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 446px;
    max-height: 446px;

    border-radius: 24px;

    flex-shrink: 1;
    flex-basis: 50%;
    

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.09), 0 10px 6px 0 rgba(0, 0, 0, 0.05), 0 18px 7px 0 rgba(0, 0, 0, 0.01), 0 29px 8px 0 rgba(0, 0, 0, 0);
    background: var(--background-white);
}

.product_page_charachteristic_container{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 1;
    flex-basis: 50%;
}

.product_page_description{
    width: 100%;
}

.product_page_description_nav{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.product_page_description_nav_button{
    position: relative;
    background-color: var(--background-white);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    width: 300px;

    transition: 0.5s;
    z-index: 2;

    box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.1), 0 -1px 3px 0 rgba(0, 0, 0, 0.1), 0 -5px 5px 0 rgba(0, 0, 0, 0.09), 0 -10px 6px 0 rgba(0, 0, 0, 0.05), 0 -18px 7px 0 rgba(0, 0, 0, 0.01), 0 -29px 8px 0 rgba(0, 0, 0, 0);
    outline: none;
}

.Active{
    box-shadow: none;
    transition: 0.5s;
    z-index: 0;
}

.product_page_description_main{
    position: relative;
    background-color: var(--background-white);
    width: 100%;
    border-radius: 0px 10px 10px 10px;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 3;

    height: auto;

    padding: 20px;
}

.product_page_description_main li{
    margin-left: 20px;
    list-style: disc;
}

.table{
    border-collapse: separate;
    border-spacing: 0; 

    border: 1px solid var(--foreground);
    border-radius: 30px;
    overflow: hidden;
}

.table td{
    border-collapse: separate;
    border-spacing: 0; 

    border: 0.5px solid var(--foreground);
    padding: 10px;
}

.page_wrapper{
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.catalog_section{
    animation: fadeUp linear;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px), scale(0.5);
    }

    to{
        opacity: 1;
        transform: translateY(0), scale(1); 
    }
}