.catalog_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    gap: 20px;
}

.product_page_header{
    font-size: 48px;
    width: 100%;
}

.catalog_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 100px;

    width: 100%;

    padding: 0px 20px;
}

.product_page_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    margin-top: 100px;

    padding: 0 100px;
    width: 100%;
    max-width: 1920px;
    gap: 50px;
}

.product_page_charachteristic_wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;

    gap: 50px;

    width: 100%;

}

.product_page_charachteristic_img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 24px;

    /* flex-shrink: 1;
    flex-basis: 25%; */

    max-width: 600px;
    aspect-ratio: 43/50;

    overflow: hidden;
    padding: 20px;
    

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.09), 0 10px 6px 0 rgba(0, 0, 0, 0.05), 0 18px 7px 0 rgba(0, 0, 0, 0.01), 0 29px 8px 0 rgba(0, 0, 0, 0);
    background: var(--background-white);
}

.product_page_charachteristic_3d{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 24px;

    flex-shrink: 1;
    flex-basis: 50%;
    height: -webkit-fill-available;

    overflow: hidden;
    padding: 20px;
    

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.09), 0 10px 6px 0 rgba(0, 0, 0, 0.05), 0 18px 7px 0 rgba(0, 0, 0, 0.01), 0 29px 8px 0 rgba(0, 0, 0, 0);
    background: var(--background-white);
}

.product_page_charachteristic_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.product_page_charachteristic_container_3d{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  flex-basis: 50%;
}

.product_page_description{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product_page_description_nav{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.product_page_description_nav_button{
    position: relative;
    background-color: var(--background-white);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
    flex-grow: 1;

    transition: 0.5s;
    z-index: 2;

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.09), 0 10px 6px 0 rgba(0, 0, 0, 0.05), 0 18px 7px 0 rgba(0, 0, 0, 0.01), 0 29px 8px 0 rgba(0, 0, 0, 0);
    outline: none;
}

.Active{
    background-color: var(--main-color);
    color: var(--background-white);
    box-shadow: 0 0 0 0 rgba(43, 70, 135, 0.2), 0 3px 6px 0 rgba(43, 70, 135, 0.2), 0 11px 11px 0 rgba(43, 70, 135, 0.17), 0 24px 15px 0 rgba(43, 70, 135, 0.1), 0 43px 17px 0 rgba(43, 70, 135, 0.03), 0 68px 19px 0 rgba(43, 70, 135, 0);
    transition: 0.5s;
    z-index: 0;
}

.product_page_description_main{
    position: relative;
    background-color: var(--background-white);
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: auto;

    padding: 20px;
}

.product_page_description_main li{
    margin-left: 20px;
    list-style: disc;
}

.table{
    border-collapse: separate;
    border-spacing: 0; 

    border: 1px solid var(--foreground);
    border-radius: 30px;
    overflow: hidden;
}

.table td{
    border-collapse: separate;
    border-spacing: 0; 

    border: 0.5px solid var(--foreground);
    padding: 10px;

}

.page_wrapper{
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.catalog_section{
    animation: fadeUp linear;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px), scale(0.5);
    }

    to{
        opacity: 1;
        transform: translateY(0), scale(1); 
    }
}


/* Бегущая строка */

.main_rail_string{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    gap: 20px;
}

.items_wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 20px;
  width: 100%;
  max-width: 1920px;
  padding-bottom: 25px;
}
.items_wrap:before,
.items_wrap:after {
  content: "";
  height: 100%;
  top: 0;
  width: 10%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
.items_wrap:before {
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(234, 239, 240, 1) 0%,
    rgba(234, 239, 240, 0) 100%
  );
}
.items_wrap:after {
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(234, 239, 240, 0) 0%,
    rgba(234, 239, 240, 1) 100%
  );
}
.items {
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}
.item {
  flex: 0 0 auto;
  width: fit-content;
  max-width: 400px;
  height: 100px;
  counter-increment: item;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin: 10px 0;
  transition: all 0.1s ease-in-out;
}
.item:hover {
  transform: scale(1.05);
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

.item:before {
  content: counter(item);
}

.marquee {
  animation: scroll 20s linear infinite;
}
.reverce {
  animation-direction: reverse;
}
.items_wrap:hover .marquee {
  animation-play-state: paused;
}

.perfscan {
  margin: 20px 0;
  text-align: center;
  bottom: 0;
  background: #fff;
  padding: 5px;
}
.perfscan hr {
  border: solid #999;
  border-width: 1px 0 0 0;
  max-width: 50%;
  margin: 0 auto 20px;
}
.perfscan a {
  display: block;
  color: #000;
  font-weight: bold;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}


/* Slider styles */

.product_page_slider_wrapper{
  width: 100%;
  height: 100%;

  border-radius: 4px;

  overflow: hidden;
}

.product_page_slider_container{
  width: 500%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  transition: 0.5s;
}

.product_page_slider_item{
  flex: 1;
  height: 100%;
}

.product_page_slider_item img{
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
}

.product_card_to_prod{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.product_card_to_prod:hover{
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
  transform: scale(1.1);
}

.product_card_to_prod:active{
  filter: none;
  transform: scale(1);
}

.product_card_to_prod:nth-child(2){
  left: 0;
}

.product_card_to_prod:nth-child(2) img{
  transform: rotate(90deg);
}

.product_card_to_prod:nth-child(3) img{
  transform: rotate(-90deg);
}

.product_card_to_prod:nth-child(3){
  right: 0;
}

/* error */

.error{
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--error-color);
  color: var(--background-white);

  border-radius: 1000px;
  padding: 10px;
  transition: 0.5s;
  bottom: 20px;
  padding: 20px;
  width: 80%;

  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

@media (max-width: 1200px){
  .product_page_charachteristic_wrapper{
    flex-direction: column;
    align-items: center;
    gap: 25px;

  }

  .product_page_charachteristic_3d{
    width: 100%;
    flex-basis: unset;
    height: 400px;
  }

}

@media (max-width: 830px){
  .catalog_wrapper{
    gap: 50px;
  }

  .product_page_wrapper{
    padding: 0 50px;
    gap: 25px;
  }


}

@media (max-width: 760px){
   .product_page_wrapper{
    padding: 0 25px;
    gap: 20px;
  }
  .catalog_container{
    flex-direction: column;
  }

  .table td{
    padding: 10px;
    hyphens: auto;
  }
}

@media (max-width: 530px){
  .product_page_header{
    font-size: 28px;
  }

  .table td{
    padding: 5px;
  }

  .product_page_wrapper{
    padding: 0 10px;
    gap: 15px;
  }
  .catalog_wrapper{
    gap: 15px;

    padding: 0px 10px;
  }
}