.reviews_wrapper{
    width: 100%;
    max-width: 1920px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-inline: 80px;

    margin: 100px 20px 0px 20px;

}

.reviews_container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    background-color: var(--background-white);

    gap: 20px;

    border-radius: 20px;

    padding: 20px;

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.09), 0 10px 6px 0 rgba(0, 0, 0, 0.05), 0 18px 7px 0 rgba(0, 0, 0, 0.01), 0 29px 8px 0 rgba(0, 0, 0, 0);


    width: 100%;
    max-width: 1720px;
    gap: 20px;
}

.reviews_header h1{
    font-size: 36px;
}

.reviews_content_header_button{
    position: relative;
    padding: 10px;
    cursor: pointer;
    width: 100%;

    transition: 0.5s;
    z-index: 0;
    box-shadow: none;

}


.reviews_content_wrapper{
    background-color: var(--background);
    padding: 10px;
    border-radius: 0 0px 10px 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    font-size: 17px;

    transition: 0.5s;
    overflow-y: auto;
    z-index: 2;

    height: 1050px;

    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.reviews_content_wrapper img{
    width: 700px;
}

.reviews_content_header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 20px;

    width: 100%;
}

.reviews_content_image_wrapper{
    background-color: var(--background);
    height: fit-content;
    transition: 0.5s;

    border-radius: 10px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.Active_img{
    transition: 0.5s;
}

.reviews_content_image_wrapper img{
    width: 100%;
    object-fit: cover;
}

.reviews_content_button_wrapper{
    cursor: pointer;
    width: 320px;
    height: fit-content;

    padding: 10px;

    transition: 0.5s;

    margin-bottom: 30px;
    background-color: var(--background);
    border-radius: 20px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 -1px 3px 0 rgba(0, 0, 0, 0.1), 0 -5px 5px 0 rgba(0, 0, 0, 0.09), 0 -10px 6px 0 rgba(0, 0, 0, 0.05), 0 -18px 7px 0 rgba(0, 0, 0, 0.01), 0 -29px 8px 0 rgba(0, 0, 0, 0);
}

.non_active:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.reviews_content{
    width: 100%;
}


.Active{
    box-shadow: 0 0 0 0 rgba(27, 37, 39, 0.1), 9px 10px 30px 0 rgba(27, 37, 39, 0.1), 38px 41px 55px 0 rgba(27, 37, 39, 0.09), 84px 91px 75px 0 rgba(27, 37, 39, 0.05), 150px 162px 88px 0 rgba(27, 37, 39, 0.01), 234px 253px 97px 0 rgba(27, 37, 39, 0);
    z-index: 2;

    position: fixed;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 528px;
    height: fit-content;
    max-height: 900px;
}
